// fonts
$base-fonts: -apple-system, 'Roboto',sans-serif;
$second-font: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
monospace;

//color
$primary: #585292;
$second: #e07c7c;
$light: #ebb9b8;
$decoration: #ffffff;
$bg-panel: #f5f5f5;
$bg-color: #d1d0d9;
$icon: #9796a8;
$bg-graph: #3b3b3b;
$contrast: #000000;

//grid
$col-num: 12;
$col-width: 1fr;
$row-num: 12;
$row-width: 23px;
$column-gap: 10px;
$row-gap: 15px;
