@import "settings";

.App {
  text-align: center;
  background-color: $bg-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.root-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat($col-num, $col-width);
  column-gap: $column-gap;
  row-gap: $row-gap;
}

.box {
  min-height: 620px;
  background: $bg-panel;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.box-progress {
  background: $second;
  border-radius: 20px;
  text-align: left;
  margin-top: 7.25%;
  padding: 15px;
  grid-column: 2 / 12;
}

.progress {
  color: $decoration;
  line-height: 33px;
  margin: 0;
  margin-bottom: 2%;
  font-style: normal;
  font-weight: 500;
  font-size: 150%;
}

.completed {
  color: $light;
  margin: 1% 0%;
  font-style: normal;
  font-weight: normal;
  font-size: 90%;
  line-height: 19px;
}

.box-task {
  display: flex;
  grid-column: 2 / 12;
}

.task-container {
  display: grid;
  grid-template-columns: repeat($col-num, $col-width);
  grid-template-rows: $row-width $row-width;
  column-gap: $column-gap;
  row-gap: $row-gap;
}

.task {
  justify-self: center;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  font-size: 135%;
  grid-column: 1;
  display: flex;
}

.loadind-icon {
  grid-column: 2;
  justify-self: center;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  font-size: 135%;
  display: flex;
}

.loading {
  margin-left: 15%;
}

.loading svg {
  animation: loading-spin infinite 2s linear;
}

@keyframes loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toolkit-edit {
  position: relative;
  display: grid;
  grid-column: 13;
}

.dropdown {
  margin-top: 7.5%;
  display: inline-block;
  align-self: center;
  justify-self: center;
}

.edit {
  border-radius: 999px;
  align-self: center;
  justify-self: end;
}

button {
  background-color: $decoration;
  border: none;
  cursor: pointer;
}

.dropbtn {
  display: grid;
  grid-template-columns: repeat($col-num, $col-width);
  padding: 5px;
}

.dropbtn p {
  justify-self: center;
  align-self: center;
  grid-column: 1;
  margin: 0;
}

.dropbtn svg {
  justify-self: center;
  align-self: center;
  grid-column: 12;
}

.dropdown .dropbtn {
  outline: none;
  color: $contrast;
  margin: 0;
  border-radius: 10px;
}

.menu-active p {
  color: $decoration;
  background-color: $primary;
}

.dropdown-content {
  z-index: 3;
}

.group-edit {
  display: grid;
  background-color: $decoration;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.group-edit button {
  color: $contrast;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 0.75rem;
  padding: 0;
  align-items: center;
}

.group-edit p {
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  margin: 0 0 0.5rem 0;
  font-size: 100%;
  padding-right: 2rem;
}

.group-edit p:hover {
  color: $decoration;
  background-color: $primary;
}

.group {
  display: grid;
  background-color: $decoration;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

.group button {
  color: $contrast;
  text-decoration: none;
  display: block;
  text-align: left;
  font-size: 0.75rem;
  padding: 0;
  align-items: center;
}

.group p {
  padding: 0.25rem 0.5rem;
  border-radius: 8px;
  margin: 0 0 0.5rem 0;
  font-size: 100%;
}

.group p:hover {
  color: $decoration;
  background-color: $primary;
}

.input-container {
  width: 100%;
  display: grid;
  grid-column: 1 / 13;
  grid-template-columns: repeat($col-num, $col-width);
  grid-template-rows: $row-width + $row-width;
  margin-bottom: 2.25rem;
}

.box-checklist {
  grid-column: 2 / 12;
  height: 100%;
  display: grid;
  grid-template-columns: repeat($col-num, $col-width);
  background-color: $decoration;
  border-radius: 999px;
  padding: 1%;
}

input[type="text"]:disabled {
  background-color: $decoration;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.box-checklist-input .box-checklist-show {
  border-radius: 999px;
}

.box-checklist-input {
  padding: 0px 2.5%;
}

.checkbox svg{
margin-block-start: 0.75em;
}

.todofield {
  border: 0;
  font-size: 0.85rem;
  width: 100%;
  border-radius: 999px;
  text-align: left;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todofield-input {
  border: 0;
  font-size: 0.85rem;
  width: 100%;
  height: 100%;
  border-radius: 999px;
}

.box-checklist-save {
  align-self: center;
}

.save-btn {
  width: 100%;
  background-color: $primary;
  color: $decoration;
  border-radius: 999px;
  padding: 5px 0px;
  height: 36px;
}

.dropdown-edit {
  z-index: 1;
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  transform: translate3d(-65px, 37px, 0px);
}

.color-delete {
  color: $second !important;
}

@media only screen and (min-width: 0px) {
  /* For mobile: 0 - 320 */
  .box {
    grid-column: 2 / 12;
  }
  .dropdown {
    grid-column: 6 / 13;
  }
  .dropdown-content {
    grid-column: 6 / 13;
  }
  .box-checklist-input {
    grid-column: 1 / 9;
  }
  .box-checklist-save {
    grid-column: 9 / 13;
  }
  .checkbox {
    grid-column: 2;
  }
  .box-checklist-show {
    grid-column: 4 / 13;
  }
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .box {
    grid-column: 3 / 11;
  }
  .dropdown {
    grid-column: 9 / 13;
  }
  .dropdown-content {
    grid-column: 9 / 13;
  }
  .box-checklist-input {
    grid-column: 1 / 11;
  }
  .box-checklist-save {
    grid-column: 11 / 13;
  }
  .checkbox {
    grid-column: 1;
    margin-left: 50%;
  }
  .box-checklist-show {
    grid-column: 2 / 13;
    margin-left: 5%;
  }
}

@media only screen and (min-width: 1024px) {
  /* For desktop: */
  .box {
    grid-column: 3 / 11;
  }
  .dropdown {
    grid-column: 10 / 13;
  }
  .dropdown-content {
    grid-column: 10 / 13;
  }
  .box-checklist-input {
    grid-column: 1 / 11;
  }
  .box-checklist-save {
    grid-column: 11 / 13;
  }
  .checkbox {
    grid-column: 1;
    margin-left: 0;
  }
  .box-checklist-show {
    grid-column: 2 / 13;
    margin-left: 0;
  }
}

@media only screen and (min-width: 1440px) {
  /* For desktop L: */
  .box {
    grid-column: 4 / 10;
  }
  .dropdown {
    grid-column: 11 / 13;
  }
  .dropdown-content {
    grid-column: 11 / 13;
  }
}

@media only screen and (min-width: 2560px) {
  /* For desktop XL: */
  .box {
    grid-column: 4 / 10;
  }
  .dropdown {
    grid-column: 11 / 13;
  }
  .dropdown-content {
    grid-column: 11 / 13;
  }
  .box-checklist-input {
    grid-column: 1 / 12;
  }
  .box-checklist-save {
    grid-column: 12;
  }
  .box-checklist-show {
    grid-column: 2 / 13;
    margin-left: 0;
  }
}

.last {
  margin-bottom: 7.25%;
}
