@import "settings";

body {
  margin: 0;
  font-family: $base-fonts;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;
}

code {
  font-family: $second-font;
}
